<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Point of Interest
      </h1>
      <h2 class="subtitle">
        Login
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="field">
      <label for="user" class="label">Usuari</label>
      <div class="control has-icons-left has-icons-right">
        <input id="user" class="input" type="text" placeholder="Usuari" [class.is-danger]="userValid" formControlName="user">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
      <p *ngIf="userValid" class="help is-danger">El camp ha de contenir un nom</p>
    </div>

    <div class="field">
      <label for="password" class="label">Contrasenya</label>
      <div class="control has-icons-left has-icons-right">
        <input id="password" class="input" type="password" placeholder="Contrasenya" formControlName="password">
        <span class="icon is-small is-left">
          <i class="fas fa-key"></i>
        </span>
      </div>
      <p *ngIf="passValid" class="help is-danger">El camp ha de contenir una contrasenya valida</p>
    </div>

    <div class="field">
      <div class="control">
        <a href="#None" title="No recordo la contrasenya">No recordo la contrasenya</a>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary">Login</button>
      </div>
      <div class="control">
        <button class="button is-link">Sigin</button>
      </div>
    </div>
  </form>
</section>