<nav class="panel is-primary">
    <h2 class="panel-heading">
        Your saved sites
    </h2>
    <div class="panel-block">
        <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Search">
        <span class="icon is-left">
            <i class="fas fa-search" aria-hidden="true"></i>
        </span>
        </p>
    </div>
    <div class="notification is-info is-light" *ngIf="isLoading">
        <div class="centered">
            <i class="fas fa-spinner fa-pulse fa-4x"></i>
            <p>Loading...</p>
        </div>
    </div>
    <div class="notification is-warning is-light" *ngIf="emptyLocation">
        <div class="centered">
            <p>You have no saved location</p>
        </div>
    </div>
    <a class="panel-block" *ngFor="let point of itemsPoint" [title]="point.title">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <span class="panel-icon">
                        <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                    </span>
                    <p>{{ point.title }}</p>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <button class="button is-info"><i class="far fa-edit"></i></button>
                    <button class="button is-danger" (click)="interestPointService.removePlace(point.title)"><i class="far fa-trash-alt"></i></button>
                </div>
            </div>
        </div>
    </a>
    <div class="panel-block">
        <button class="button is-primary centered-btn" (click)="addNewLocation()">
            Add new location
        </button>
    </div>
</nav>

<div #newModal class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Add new location</p>
        </header>
        <section class="modal-card-body" *ngIf="!isSaving">
            <form id="save-point" [formGroup]="addPlaceForm" (ngSubmit)="addNewPlace()">
                <div class="field">
                  <label for="title" class="label">Site name</label>
                  <div class="control">
                    <input id="title" class="input" type="text" placeholder="Title" [class.is-danger]="titleValid" formControlName="title">
                  </div>
                  <p *ngIf="titleValid" class="help is-danger">The field must contain a title</p>
                </div>
            
                <div class="field">
                  <label for="password" class="label">Description</label>
                  <div class="control">
                    <input id="description" class="input" type="text" placeholder="Description" formControlName="description">
                  </div>
                </div>
              </form>
            </section>
            <section class="modal-card-body" *ngIf="isSaving">
                <div class="centered">
                    <i class="fas fa-spinner fa-pulse fa-4x"></i>
                    <p>Saving...</p>
                </div>
            </section>
        <footer class="modal-card-foot">
          <button class="button is-success" title="Add a new location" form="save-point">Add location</button>
          <button class="button is-danger" title="Don't save location" (click)="closeModal()">Don't save location</button>
        </footer>
      </div>
</div>