<div class="box">
    <agm-map (mapClick)="addMarker($event)" [latitude]='latitude' [longitude]='longitude' [mapTypeId]='mapType' [zoom]='zoom'>
        <agm-marker *ngFor="let mark of marks" [latitude]='mark.lat' [longitude]='mark.lng'>
            <agm-info-window>
                <h2>{{ mark.title }}</h2>
                <p>{{ mark.desc }}</p>
                <div>
                    <button type="button">Editar</button>
                    <button type="button">Borrar</button>
                </div>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>
