<div class="box">
    <agm-map [latitude]='mark.lat' [longitude]='mark.lng' [mapTypeId]='mapType' [zoom]='zoom'>
        <agm-marker [latitude]='mark.lat' [longitude]='mark.lng'>
            <agm-info-window>
                <h2>{{ mark.title }}</h2>
                <p>{{ mark.desc }}</p>
                <div>
                    <button type="button" class="button is-info is-small">How to arrive</button>
                </div>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>
